@import "tailwindcss";

*{
  margin: 0px;

  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
.container{
    width: 100% !important;
    margin: auto;
}

.top-strip2{
  background: #e4f2f2;
}

header .top-strip{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* background-color: rgb(243, 243, 243); */

}


.link:hover {
 color: brown;
}

.MuiBadge-badge{
  background: #febd69 !important;
  color: black !important;
}



