@import "tailwindcss";

*{
  margin: 0px;

  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: #e4f2f2;
}
.container{
    width: 90%;
    margin: auto;
}

header .top-strip{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* background-color: rgb(243, 243, 243); */
}


.link:hover {
 color: brown;
}